@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #081131;
  color: #FFFFFF;
  overflow: hidden;
}